/* .bg-facebook {
    background: #1877f2 !important;
  }
  .bg-twitter {
    background: #1da1f2 !important;
  }
  .bg-linkedin {
    background: #2867B2 !important;
  }
  .bg-instagram {
    background: #c32aa3 !important;
  }
   */